<div class="container">
  <div class="row metro breadcrumbs">
    <div class="col-sm-12">
      <h2>
        <a href="/admin"><%= __('Admin') %></a> > 
        <a href="javascript:;"><%= __('Database access') %></a>
      </h2>
    </div>
  </div>



  <div class="row">
    <div class="col-md-12">



    </div>
  </div>
</div>


