<div class="row">
	<div class="col-md-12">


		<h3>Confirmez votre association</h3>


		<div class="row">
			<div class="col-md-8">

				<div class="panel panel-warning">
				  <div class="panel-heading">
				    <h4 class="panel-title">
				    	<%= __('Équipement selectionné') %>
				    </h4>
				  </div>
				  <div class="panel-body">
				  	<h4>{{equipement.FUN_CODE}}</h4>
						<p>{{equipement.FUN_DESCR}}</p>
						<p>{{equipement.NIV1_CODE}} | {{equipement.NIV1_DESCR}}</p>
				  </div>			
				</div>

				<div class="panel panel-primary">
				  <div class="panel-heading">
				    <h4 class="panel-title">
				    	<%= __('Fiche selectionnée') %>
				    </h4>
				  </div>
				  <div class="panel-body">
				  	<h4>{{fiche.LeafName}}</h4>
						<p>{{fiche.DirName}}</p>
						<p>Version: <span style="color: green">{{fiche.Version}}</span></p>
				  </div>			
				</div>				

				<div class="pull-right">
					<button ng-click="confirm()" class="btn btn-success">
						<%= __('Confirmez') %>
					</button>

					<a href="#/home" class="btn btn-default">
						<%= __('Annuler') %>
					</a>

				</div>

			</div>

		</div>



	</div>	
</div>


