
<div class="row">
	<div class="col-md-12">
  <h3><%= __('Link.Choose') %></h3>  
  <br/>
	<input type="text" 
         id="ficheSearchInput" 
         ng-model="searchEquipement" 
         placeholder="<%= __('Link.Search') %>"
         class="form-control"/>
	<br/>

<div class="metro">
  <div data-role="listview" class="listview-outlook" ng-repeat="link in links | filter:searchEquipement | orderBy:'Niveau_Description'">

    <a href="#/unlink/confirmation/{{link.id}}" class="list">
      <div class="list-content">
        <span style="display: inline;" class="list-title">{{link.Equipement_Code}}</span>
        <span style="display: inline;" class="list-subtitle">{{link.Equipement_Description}}</span>
        <span style="display: inline;" class="list-remark">{{link.Niveau_Description}}</span>
        <span class="list-remark">{{link.Nom_Fichier}}</span>
      </div>
    </a>
    <div class="see-document">
      <a class="btn btn-sm btn-default pull-right" 
         target="_blank" 
         href="http:{{link.Nom_Fichier | ficheFormatUrl}}"><%= __('Look') %></a>
    </div>


  </div>
</div>




	</div>
</div>
