		

<div class="row">

	<div class="col-md-4">
		<br/>
		<br/>
		<div class="sticker hidden-sm hidden-xs" style="width: 350px !important">
			<div class="panel panel-warning">
			  <div class="panel-heading">
			    <h4 class="panel-title">
			    	<%= __('Equipement.Selected') %>
						<button type="button" class="close" ng-click="go('/equipement')">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>			    	
			    </h4>
			  </div>
			  <div class="panel-body">
			  	<h4>{{equipement.FUN_CODE}}</h4>
					<p>{{equipement.FUN_DESCR}}</p>
					<p>{{equipement.NIV1_CODE}} | {{equipement.NIV1_DESCR}}</p>
			  </div>			
			</div>


		</div>
	</div>	

	<div class="col-md-8">

		<h3><%= __('File.Choose') %></h3>	
		<br/>
		<input type="text" 
	         id="ficheSearchInput" 
	         ng-model="searchFiche" 
	         placeholder="<%= __('File.Search') %>"
	         class="form-control"/>
		<br/>

		<div class="metro">
		  <div data-role="listview" class="listview-outlook" ng-repeat="fiche in fiches | filter:searchFiche | orderBy:'DirName'">

		    <a href="#/confirmation/{{equipement.Expr1}}/{{fiche.Id}}" class="list" data-user="">
		      <div class="list-content">
		        <span style="display: inline;" class="list-title">{{fiche.LeafName}}</span>
		        <span style="" class="list-subtitle">{{fiche.DirName}}</span>
		        <!-- <span class="list-remark">{{fiche.Id}}</span> -->
		      </div>
		    </a>
		    <div class="see-document">
					<a class="btn btn-sm btn-default pull-right" 
						 target="_blank" 
						 href="http://parachemsrv07/{{fiche.DirName | ficheFormatUrl}}/{{fiche.LeafName| ficheFormatUrl}}">voir</a>
		    </div>

		  </div>
		</div>		


	</div>





</div>
	



